[submodule "references/orca"]
	path = references/orca
	url = https://github.com/GNOME/orca.git
[submodule "references/nvda"]
	path = references/nvda
	url = https://github.com/nvaccess/nvda.git
[submodule "references/talkback"]
	path = references/talkback
	url = https://github.com/google/talkback.git
